/* 自用額外設定 */

/* 換滑鼠游標 */
* {
  cursor: url("https://chiaki.uk/Zero-Memo/img/arrow.gif"), auto;
}

/* 換噗浪獸 */

#dynamic_logo img {
  display: none;
}
/*圖片*/
#dynamic_logo:before {
  content: "　";
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  width: 300px;
  background-image: url("https://images.plurk.com/7ojjprVw544b3sfxIjFU5h.png ");
  bottom: 80px;
  right: 40px;
  position: fixed;
}
/*簽名*/
#dynamic_logo:after {
  content: "　";
  position: fixed;
  background-image: url("https://akira.eu.org/img/sign_animated.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 400px;
  bottom: 90px;
  right: 20px;
}

/* 改成世界線變動率風格卡馬值 */
#karma::before {
  content: "1·0";
}
#karma::after {
  content: "$$$$$$$$";
}
#karma {
  font-family: nixie2;
}
.dash-group-right {
  transform: translate(500px, 0);
}
.dash-group-right:hover #karma {
  transform: translate(5px, 20px);
}
.dash-group-left:hover + .dash-group-right {
  transform: translate(500px, -50px);
}

/* 自定性別文字 */
#m_or_f {
  display: none;
}
#span_years:after {
  content: "大小姐♂";
}

/* 下方時間列顏色改成黑底 */
.bottom_start {
  background: black !important;
  color: white !important;
}

/* 通知器往下調整 */
.timeline_control {
  margin-top: -13px;
}

/* top_bar 顏色覆蓋 */
' {}:not(*) /* { */, /*
}*/
.bar-color {
    background-color: #000;
}
' {}

/* 覆蓋掉噗浪原本的背景圖 */
._lch_ {
  background-image: url(https://chiaki.uk/Tokyono-Sora/img/default.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  backdrop-filter: none !important;
}

/* 白色模糊背景改為固定圖片 */
.cboxAnchor:not(.response) .plurk_cnt,
#form_holder,
._lch_ ~ .pop-window .pop-window-content,
._lch_ ~ .pop-window .pop-window-view iframe {
  background-image: url(https://chiaki.uk/Tokyono-Sora/img/default-light.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  backdrop-filter: none !important;
}
