/* 自用額外設定範例 */

/* 換滑鼠游標 */
* {
  cursor: url("https://chiaki.uk/Zero-Memo/img/arrow.gif"), auto;
}

/* 換噗浪獸 */

#dynamic_logo img {
  display: none;
}
/*圖片*/
#dynamic_logo:before {
  background-image: url("https://images.plurk.com/3eb4ioHZAN4uo4O4pey0FX.png");
  /* 圖片尺寸 */
  background-size: 25%;
  /* 圖片位置 */
  background-position: 100% 95%;
  content: "　";
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  bottom: 0px;
  right: 0px;
  position: fixed;
}
/*簽名*/
#dynamic_logo:after {
  background-image: url("https://raw.githubusercontent.com/akira02/akira02.github.io/master/img/signv2_animated.svg");
  /* 圖片尺寸 */
  background-size: contain;
  /* 圖片位置 */
  background-position: 100% 100%;
  transform: rotate(5deg);
  content: "　";
  background-repeat: no-repeat;
  height: 25%;
  width: 20%;
  bottom: 80px;
  right: 7%;
  position: fixed;
}

/* 改成世界線變動率風格卡馬值 */
@font-face {
  font-family: nixie2;
  src: url("https://chiaki.uk/assets/AkiNixieNumber-karma.woff2")
      format("woff2"),
    url("https://chiaki.uk/assets/AkiNixieNumber-karma.woff") format("woff");
}
#karma::before {
  content: "1·0";
}
#karma::after {
  content: "$$$$$$$$";
}
#karma {
  font-family: nixie2;
}
.dash-group-right {
  transform: translate(500px, 0);
}
:is(url({)),
.dash-group-right:hover #karma,
#layout_body:has(.karma_tooltip:hover) .dash-group-right #karma,
#layout_body:has(.friend-fan-editor-popview:hover) .dash-group-right #karma,
:is(url(})) {
  transform: translate(5px, 20px);
}
.dash-group-left:hover + .dash-group-right {
  transform: translate(500px, -50px);
}

/* 自定性別文字 */
#m_or_f {
  display: none;
}
#span_years:after {
  content: "大小姐♂";
}

/* 透明topbar */
:is(url({)),
.bar-color,
:is(url(})) {
  background: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

/* 以上傳圖片覆蓋掉噗浪原本的背景圖 */
._lch_ {
  background-image: url("https://images.plurk.com/YDabJWRfA3FSlPsxTveIS.jpg") !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  backdrop-filter: none !important;
  transition: opacity;
}
/* 若想保留噗浪原本的背景圖請刪除上面這段 */