/* ---------------------------
  Tokyono-Sora Dark Mode Plugin
------------------------------ */

._lch_,
._lch_ ~ .pop-window,
._lch_ ~ .pop-view {
  /* 覆蓋原本設定的主題色 */
  /* 主題色 */
  --theme-main-color: rgb(67, 99, 140);
  /* 暗黑模式背景色 */
  --theme-dark-bg-color: rgba(29, 29, 31, 0.72);
  /* 噗文背景色 */
  --plurk-bg-color: rgba(43, 43, 43, 0.72);
  /* 噗文文字顏色 */
  --plurk-text-color: rgba(235, 235, 235);
}

.plurk_cnt,
.response_box,
.name,
#timeline_holder table td,
._lch_ ~ .pop-window .name,
.list-container .empty {
  color: var(--plurk-text-color);
}
.name {
  text-shadow: none;
}

._lch_ .plurk a.ex_link,
._lch_ ~ .pop-window .plurk a.ex_link,
._lch_ ~ .pop-view .plurk a.ex_link,
._lch_ .plurk a.meta,
._lch_ ~ .pop-window .plurk a.meta,
._lch_ ~ .pop-view .plurk a.meta,
._lc_ #plurk-dashboard #about_me a {
  color: #6ba5ff;
}
.block_cnt .cboxAnchor:not(.response) .plurk_cnt,
#form_holder {
  border: 1px solid rgba(255, 255, 255, 0);
  transition: border 0.2s;
}
#form_holder {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 0;
}
.block_cnt .cboxAnchor:not(.response).plurk_box .plurk_cnt {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 0;
}
/* 未讀噗邊框 */
.new .plurk_cnt {
  box-shadow: none;
}
/* 輸入框 */
.input_holder {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.12);
}
._lch_ .textarea_holder textarea,
._lch_ ~ .pop-window .textarea_holder textarea,
._lch_ ~ .pop-view .textarea_holder textarea {
  background-color: transparent;
  color: var(--plurk-text-color);
}
#plurk-dashboard .dash-group-form {
  background-color: var(--theme-dark-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.12);
}
.q_freestyle {
  background: #5f5f5f;
}
/* 通知器 */
#filter_tab a.filter_selected {
  color: var(--plurk-text-color);
  background: var(--theme-main-color);
}
#updater,
#updater .item,
#updater .item a {
  color: white;
}
#filter_tab a,
#updater .item a {
  background: var(--theme-dark-bg-color);
  backdrop-filter: saturate(var(--blur-saturate)) blur(var(--blur-px));
  -webkit-backdrop-filter: saturate(var(--blur-saturate)) blur(var(--blur-px));
}
#updater .item a:hover {
  color: var(--plurk-text-color);
  background: var(--theme-main-color);
}

/* 彈出視窗 */
._lch_ ~ .pop-window .pop-window-content {
  background: var(--theme-dark-bg-color) !important;
}

._lch_ ~ .pop-window .show-response-manager,
._lch_ ~ .pop-window textarea,
._lch_ ~ .pop-view #emoticons-holder,
._lch_ ~ .pop-view#noti-list ul {
  background: none;
}
._lch_ ~ .pop-window .input_holder {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.12);
}
._lch_ ~ .pop-window .plurk {
  color: var(--plurk-text-color);
}
._lch_ ~ .pop-window .response_box,
._lch_ ~ .pop-window .cbox_ads,
._lch_ ~ .pop-window .plurk_box .mini_form {
  border-color: #525252;
}
._lch_ ~ .pop-window .q_freestyle {
  background: #5f5f5f;
}
._lch_ ~ .pop-view#noti-list .header,
._lch_ ~ .pop-view#emoticon-selector .header,
._lch_ ~ .pop-view#emoticon-selector #emoticon-tabs {
  border-color: #525252;
}
._lch_ ~ .pop-view.pop-menu li a,
._lch_ ~ .pop-view#noti-list li,
._lch_ ~ .pop-view#noti-list li a,
._lch_ ~ .pop-view#emoticon-selector .header .desc .title,
._lch_ ~ .pop-window .pop-window-view,
._lch_ ~ .pop-window .pop-window-view .user_list a,
._lch_ ~ .pop-window .pop-window-view .user_list .nick_name {
  color: var(--plurk-text-color);
}
._lch_ ~ .pop-view {
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: var(--theme-dark-bg-color);
}
._lch_ ~ .pop-window .pop-window-view .user_list a:hover {
  background: var(--theme-main-color);
}

/* ------END Dark Mode Plugin------ */
